section.main-banner.relative.z-5.text-white
	-var banners = [{color:'#F8961D',title:'fruit <br/>puree',props:["/img/banner/banner-style-1/360_F_439027765_1V2uqVptLZfdBDQQQhufhAO2QYvz839z 1.webp","/img/banner/banner-style-1/mango-fruit-tropical-transparent-png-small.webp","/img/banner/banner-style-1/mango-13.webp","/img/banner/banner-style-1/mango-fruit-tropical-transparent-png-big.webp"],mainImg:"/img/banner/banner-style-1/mango-juice-splash-twist-around-swirled-around 1.webp"},{color:'#CFE33D',title:'frozen<br/>fruits',props:["img/banner/banner-style-2/passionfruit-exoticfruitscouk-270048-removebg-preview 1.webp","img/banner/banner-style-2/passionfruit-exoticfruitscouk-270048-removebg-preview 2.webp","img/banner/banner-style-2/PASSION FRUIT -SEEDS.webp","img/banner/banner-style-2/shpinat-2 2.webp"],mainImg:'img/banner/banner-style-2/tasty-passion-fruits-passiflora-flowers-falling-white-background 1.webp'},{color:'#572782',title:'frozen<br/>fruits',mainImg:'img/banner/banner-style-2/tasty-passion-fruits-passiflora-flowers-falling-white-background 1.webp'}];
	.outside-prop(class="absolute inset-0 pointer-events-none")
		.prop-1(class="%:w-[121/1920]")
			+img({src:'img/banner/fixed/shpinat-2 1.webp',className:'ratio-[92/121]'})
		.prop-2(class="%:w-[136/1920]")
			+img({src:'img/banner/fixed/ai-generated-mango-leaf-clip-art-free-png 1.webp',className:'ratio-[208/136]'})
	.swiper
		.swiper-wrapper
			-for(i=0;i<banners.length;i++)
				-const currentIndex = i+1;
				.swiper-slide(data-banner-type=`${i % 2 + 1}` data-banner-color=`${banners[i].color}`)
					.ratio-wrapper(class="ratio-[960/1920]")
						.main-img
							+img({src:`${banners[i].mainImg}`,className:'ratio-[1/1] ratio-contain'})
						-if(banners[i].props)
							-for(prop=0;prop<banners[i].props.length;prop++)
								.prop(class=`prop-${prop+1}`)
									+img({src:`${banners[i].props[prop]}`,className:'ratio-[1/1] ratio-contain'})
						.box-content(class="absolute left-0 bottom-0 right-0 z-1 pointer-events-none")
							.title(class="leading-[1.25] text-[3rem] sm:text-[3.6rem] md:text-[5rem] xl:text-9xl uppercase font-bold pointer-events-auto")!=banners[i].title
		.container.container-arrow(class="absolute left-1/2 -translate-x-1/2 z-5 pointer-events-none top-1/2 -translate-y-1/2")
			.arrow-button.arrow-dark.no-responsive
				.button-prev
				.button-next
		//- .swiper-pagination(class="xl:!hidden")

//- .video(class="absolute inset-0 [&_video]:size-full [&_video]:object-cover opacity-0 transition-all duration-800")
//- 	video(class="lozad" data-src="https://cdn-cf-east.streamable.com/video/mp4/bovgkn.mp4?Expires=1736048264419&Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ&Signature=FlNj~knyL07Fx6pSbA1w2LU4M7xJ-vkRbCXwue7S-jD4lZAnCYn5Jgb3eo4JWIvzscr4MYeLmxuP4HQSheUI4QeVl-mnmN5KvApdsmGPXYD6NOIpoYN07V-7x5g~pibaCVUqZUNi1Qw-KLs4iPPIHe7YaPRpRLXCbL21GoXbwOwc3PeauytxzOhoSiW8KryR4Smp64TXB5qinnvkqOSyvUMB9sgJRoUnfHLSsbceFviMDQXB6yPLie60uep7bPD6QkVyheiLsii9s~S9LIFv2eM30qdpcWYPnhYkyl2Du1kd~gp28wzYCarJptHFaIT0vf~fXuUUUTivq0ARaeTQCQ__" muted  playsinline)
//- .play-btn
//- 	.icon.relative
//- 		+img('./img/play.svg','image-svg image-absolute')